<div class="jumbotron">
  <div class="container">
    <h1>HEADER</h1>
  </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
  <div class="panel-body">
        <p>Profile</p>
        </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
  <div class="panel-body">
        <p>Status</p>
        </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
  <div class="panel-body">
        <p>Feeds</p>
        </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-xs-offset-9">
        <div class="panel panel-default">
  <div class="panel-body">
        <p>Trends</p>
        </div>
        </div>
    </div>
    </div>
        